:root{
--button-backgroundcolor : #4caf50; /* Green */
--button-textcolor:white;
--modal-backgroundcolor: #00000080;
}

* {
  margin:0;
  padding:0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 20px;
}

/*  Applied color,background color,paddind ,transition colors to pokemon buttons */
.button-class {

  background-color: var(--button-backgroundcolor);
  border: none;
  color: var(--button-textcolor);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


#modal-container {
  display:none;
}

#modal-container.is-visible {
  position:fixed;
  padding:20px;
  box-sizing:border-box;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--modal-backgroundcolor);

  /* to show it above other content */
  z-index: 999; 

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}