:root{
--button-backgroundcolor : #4caf50; /* Green */
--button-textcolor:white;
}

* {
  margin:0;
  padding:0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 20px;
}

/*  Applied color,background color,paddind ,transition colors to pokemon buttons */
.button-class {

  background-color: var(--button-backgroundcolor);
  border: none;
  color: var(--button-textcolor);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}