


.modal-container.is-visible {
  display: flex;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}


.pokemon-image {
  max-width: 100%;
  height: auto;
}

.custom-modal-dialog {

  display :flex;
  justify-content: center;
  align-items: center;
}



